/* 	:::mmst---1.1-1-gb570c02---mich412-A320M-S2H-V2---220506_0842:::  */
#maindiv{
	width: 100%;
	border: thick double #32a1ce;
}
#formdiv{
	width: 100%;
	border: thick double red;
}
.query{
		border: dotted;
}
.form{
		border: dashed;
}

