/* 	:::mmst---1.0-1-gc983d9e---mich412-A320M-S2H-V2---220416_0724:::  */
#maindiv{
	width: 100%;
	border: thick double #32a1ce;
}
#formdiv{
	width: 100%;
	border: thick double red;
}
.query{
		border: dotted;
}
.form{
		border: dashed;
}

