/* 	:::mmst---1.1---mich412-A320M-S2H-V2---220505_1647:::  */
#maindiv{
	width: 100%;
	border: thick double #32a1ce;
}
#formdiv{
	width: 100%;
	border: thick double red;
}
.query{
		border: dotted;
}
.form{
		border: dashed;
}

